@model LibraryMVC.Models.Book

@{
    ViewBag.Title = "TagBook";
}

<h2>BookTag</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("BoogTag", "BookManage", FormMethod.Post))
{
    @Html.DropDownList("Tags", (IEnumerable<SelectListItem>)ViewBag.Tags, "Select tag", new { @class = "form-control" })
    <input style='display:inline;' type="submit" value="Add" class="btn btn-default" />
    
    @Html.Hidden("bookId", TempData["Bookid"])
}

